@import url(../../basico/css/basico.css);

body{
    width: 100vw;
    height: 100vh;
}


/*      main   */


main{
    position: relative;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    padding: 10px;
    overflow-x: hidden;
    
}

/*      meio    */
.meioMain{
    width: 58%;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.meioMain h1{

    font-family: 'fonteLogo';

}
.novo_post{
    width: 100%;
    border-radius: 5px;
    background-color: var(--fundoPublicacao);
    padding: 20px;
}
.form_msg{

    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.txt_titulo{
    width: 70%;
    padding: 10px;
    border: 2px solid;
    border-radius: 10px;
    margin:10px 0px;

}
.area_text{
    height: 150px;
    width: 70%;
    resize: none;
    padding: 10px;
    border-radius: 10px;
    
}
.enviar_texto{
    margin-top: 5px;
    width: 70%;
    height: 30px;
    border: none;
    border-radius: 20px;
    color: var(--font);
    background-color: var(--fundoComentarios)
}


/*conteudo*/

.conteudo{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 100%;

}


/*      esquerda e direita  */


.esquerdaMain, .direitaMain{
    width: 19%;
    height: 100%;
    top: 16vh; 
    padding: 10px;
    position: fixed;
    
}

.esquerdaMain ul, .direitaMain ul{

    list-style-type: none;  /* retira as bolinhas da lista*/
    line-height: 3 /*--------aumenta distancia das linhas*/;
    font-size: 1.3em;
}


/*      esquerda   */
.esquerdaMain{
    left: 0;
    text-align: center;
    margin-left: 1.5vw;
    font-family: 'fonteLogo';
}


/*      direita   */

.direitaMain{
    right: 0;
    text-align: center;
    margin-right: 1.5vw;
}
.direitaMain h4{
    font-family: 'fonteLogo'
} 
.direitaMain ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.direitaMain ul img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit:cover;
}
.direitaMain ul div{
    display: flex;
    margin-top: 10px;
    background-color: var(--corFundo);
    padding:20px;
    border-radius: 20px;
    width: 50%;
    align-items: center;


}

@media screen and (max-width:1024px) {

.esquerdaMain li{
    font-size: 10px;
}
}