{% for comentario in post.comentarios.all %}

                            <div class="comentario">  
                                {% if comentario.autor.perfil.imagem_perfil %}
                                <img src="{{ comentario.autor.perfil.imagem_perfil.url }}" alt="Imagem de Perfil">
                            {% endif %}  
                                    <div class="comentario_informacoes">
                                        <h3>{{comentario.autor.first_name}} - @{{comentario.autor.username}}</h3>
                                        <p>{{comentario.conteudo}}</p>
                                        
                                    </div>
                            </div>

                        {%endfor%}