{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'feed/css/feed.css'%}">
    <title>Faculbook</title>
</head>
<body>
    
    <header> 
        <div class="logo"><h1>Faculbook</h1></div>
        <a href="{% url 'feed:perfil' request.user.username %}"><div class="infos"> 
            <div>  {% if user.perfil.imagem_perfil %}
                <img src="{{user.perfil.imagem_perfil.url }}" alt="Imagem de Perfil">
            {% endif %}  <h4>{{user.username}}</h4></div></a>
        <a href="{% url 'feed:sair' %}">Sair</a></div>
    </header>
    <main>
        <div class="esquerdaMain">
            <ul>
                <li>Inicio</li>
                <li>Grupos</li>
           </ul>
        </div>
        <div class="direitaMain">
            <h4>Todos usuários</h4>    
           <ul>
            {% for usuario in usuarios %} 
                {% if usuario != request.user %}
                <div>
                    {% if usuario.perfil.imagem_perfil %}
                                  <img id="foto_post" src="{{ usuario.perfil.imagem_perfil.url }}" alt="Foto de perfil de {{ post.autor.username }}">
                              {% else %}
                                  <img id="foto_post" src="{% static 'caminho/para/imagem_padrao.jpg' %}" alt="Foto de perfil padrão">
                              {% endif %}
                 <a href="{% url 'feed:perfil' usuario.username %}"> <li>{{ usuario.username }}</li></div></a>
                {% endif %}
            {% endfor %}
        </ul> 
                
            </div>
    
           <div class="meioMain">
                <div class="novo_post">

                    <h1>Nova Publicação </h1>
                    <form action="{% url 'feed:upload_post' %}"  class="form_msg" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                    <textarea required name="texto_conteudo" placeholder="Oque você tem para compartilhar?"  class="area_text" id="texto" cols="30" rows="5"></textarea>
                    <input type="submit" class="enviar_texto" value="Enviar">
                    </form>
            </div>

                <div class="conteudo">
                {%for post in posts %}

                <div class="post">
                    <div class="post_cabecalho">
                        {% if post.autor.perfil.imagem_perfil %}
                        <img src="{{ post.autor.perfil.imagem_perfil.url }}" alt="Imagem de Perfil">
                        {% endif %} 
                        <div class="informacoes_usuario_post">
                            <h2>{{post.autor.first_name}} - @{{post.autor.username}}</h2>
                            <h4>{{post.get_dataformatada}}</h4>
                        </div>     
                    </div>
                    <div class="post_conteudo">
                        <p>{{post.conteudo}}</p>
                    </div>
                    <div class="post_comentarios">
                        
                        {% for comentario in post.comentarios.all %}

                        <div class="comentario">
                           
                            {% if comentario.autor.perfil.imagem_perfil %}
                            <img src="{{ comentario.autor.perfil.imagem_perfil.url }}" alt="Imagem de Perfil">
                        {% endif %}  
                                <div class="comentario_informacoes">
                                    <h3>{{comentario.autor.first_name}} - @{{comentario.autor.username}}</h3>
                                    <p>{{comentario.conteudo}}</p>
                                    
                                </div>

                            
                        
                        </div>
                        {%endfor%}

                    </div>
 
                    <form  class="form_enviarComentario"  action="{% url 'feed:upload_comentario' post.id %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <textarea   required     placeholder="Comente..."  name="conteudo_comentario" ></textarea>
                        <input type="submit" value="comentar">
                    </form>

                </div>

                {%endfor%}
                </div>
           
           </div>
    </main>

</body>
</html>