{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'feed/css/perfil.css'%}">
    <title>Faculbook</title>
</head>
<body>
    <header> 
        <div class="logo"><a href="{% url 'feed:homepage' %}"><h1>Faculbook</h1></a></div>
        <a href="{% url 'feed:perfil' request.user.username %}"><div class="infos"> 
            <div>  {% if user.perfil.imagem_perfil %}
                <img src="{{user.perfil.imagem_perfil.url }}" alt="Imagem de Perfil">
            {% endif %}  <h4>{{user.username}}</h4></div></a>
        <a href="{% url 'feed:sair' %}">Sair</a></div>
    </header>
    
    <main>
        <div class="informacoes_perfil">

            {% if user.perfil.imagem_perfil %}
                <img src="{{usuario_perfil.perfil.imagem_perfil.url }}" alt="Imagem de Perfil">
            {% endif %}
            
            <h1> {{usuario_perfil.first_name.capitalize}} - @{{usuario_perfil.username}}</h1>

        </div>


        <div class="posts_usuario">
            <h1>Posts de {{usuario_perfil.first_name.capitalize}}</h1>
        {%for post in posts_do_usuario %}

        <div class="post">
            <div class="post_cabecalho">
                {% if post.autor.perfil.imagem_perfil %}
                <img src="{{ post.autor.perfil.imagem_perfil.url }}" alt="Imagem de Perfil">
                {% endif %} 
                <div class="informacoes_usuario_post">
                    <h2>{{post.autor.first_name}} - @{{post.autor.username}}</h2>
                    <h4>{{post.get_dataformatada}}</h4>
                </div>     
            </div>
            <div class="post_conteudo">
                <p>{{post.conteudo}}</p>
            </div>
            <div class="post_comentarios">
                
                {% for comentario in post.comentarios.all %}

                <div class="comentario">
                   
                    {% if comentario.autor.perfil.imagem_perfil %}
                    <img src="{{ comentario.autor.perfil.imagem_perfil.url }}" alt="Imagem de Perfil">
                {% endif %}  
                        <div class="comentario_informacoes">
                            <h3>{{comentario.autor.first_name}} - @{{comentario.autor.username}}</h3>
                            <p>{{comentario.conteudo}}</p>
                            
                        </div>

                    
                
                </div>
                {%endfor%}

            </div>

            <form  class="form_enviarComentario"  action="{% url 'feed:upload_comentario' post.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <textarea   required     placeholder="Comente..."  name="conteudo_comentario" ></textarea>
                <input type="submit" value="comentar">
            </form>

        </div>

        {%endfor%}
    </div>

    </main>

</body>
</html>