{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'usuarios/css/login.css'%}">
    <title>Facultech - Login</title>
</head>
<body>
    {% if user.is_authenticated %}
        <script>window.location.href = "{% url 'feed:homepage' %}";</script>
    {% else %}

    <header>
            <h1>Faculbook</h1>
    </header>
<main>
    
<h1>login</h1>
    <form action="{% url 'usuarios:login' %}" method="POST" >
        {% csrf_token %}
        <input type="text" name="usuario" placeholder="Usuario">
        <br>
        <input type="password" name="senha" placeholder="Senha">
        <br>
        <input type="submit" value="Login"">
    </form>
</main>

    <footer> <h1>João Vitor Gonçalves de Oliveira</h1></footer>
    {% endif %}
</body>
</html>